@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The calculator was intended to get the following calculator to work using the Entity Framework MVC API by means of AngularJS. However, because of time limitations, I had to stop early before completing this.</p>

<p>The Javascript-only calculator built on AngularJS is <a href="https://codepen.io/daniellipsy/pen/EoYMJY">here</a></p>.



